mixin searchForm(query, options)
  - options = options || {};
  .row.mb-4
    .col-lg-6
      form(method="GET", action="/search")
        .form-group
          label(for="query") Company name
          input#query.form-control(type="text", name="query", autofocus=options.autofocus, placeholder=defaultQuery, value=query, required)
        button.btn.btn-primary(type="submit") Search

mixin searchResults({ query, glassdoorInfo })
  .card: .card-body
    .row
      .col-lg-6
        p
          strong Glassdoor results:
          br
          if glassdoorInfo === null
            i
              = `No results for "${query}"`
            br
          else
            - let glassdoorProfile = glassdoorInfo.profile;
            = "Name: " + glassdoorProfile.name
            br
            = "Website: "
            a(target="_blank", href=glassdoorProfile.website)= glassdoorProfile.website
            br
            = `Industry: ${glassdoorProfile.industry}`
            br
            = `Overall rating: ${glassdoorProfile.overallRating}/5.0 (${glassdoorProfile.numberOfRatings} ratings)`
            br
            = `CEO review: ${glassdoorProfile.ceo.pctApprove}% approve, ${glassdoorProfile.ceo.pctDisapprove}% disapprove (${glassdoorProfile.ceo.numberOfRatings} ratings)`
            br
            = `Culture and values rating: ${glassdoorProfile.cultureAndValuesRating}/5.0`
            br
            = `Senior leadership rating: ${glassdoorProfile.seniorLeadershipRating}/5.0`
            br
            = `Compensation and benefits rating: ${glassdoorProfile.compensationAndBenefitsRating}/5.0`
            br
            = `Career opportunities rating: ${glassdoorProfile.careerOpportunitiesRating}/5.0`
            br
            = `Work/Life balance rating: ${glassdoorProfile.workLifeBalanceRating}/5.0`
            br
            a(target="_blank", href=glassdoorProfile.url)
              | View Glassdoor profile
            br
            a(target="_blank", href=glassdoorInfo.search.url)
              | View Glassdoor search
            br
          a(target="_blank", href="https://www.glassdoor.com/index.htm")
            = "Powered by "
            img(src="https://www.glassdoor.com/static/img/api/glassdoor_logo_80.png", alt="Glassdoor")
      .col-lg-6
        p
          strong External links:
          br
          u General
          br
          - let encodedQuery = encodeURIComponent(query);
          = "LinkedIn: "
          a(target="_blank", href=`https://www.linkedin.com/search/results/companies/?keywords=${encodedQuery}`) Search

          br
          = "Crunchbase: "
          a(target="_blank", href=`https://www.crunchbase.com/textsearch?q=${encodedQuery}`) Search
          br
          = "AngelList: "
          a(target="_blank", href=`https://angel.co/search?type=companies&q=${encodedQuery}`) Search
          br
          br

          u Programming
          br
          = "StackShare: "
          a(target="_blank", href=`https://stackshare.io/search/q=${encodedQuery}`) Search
          br
          = "GitHub: "
          a(target="_blank", href=`https://github.com/search?q=${encodedQuery}+type%3Aorg&type=Users`) Search
          br
          br

          a(href="mailto:todd@twolfson.com?subject=ingoodcompany.info%20link%20idea") Want more links? Click here to send us an email
    .text-muted
      //- https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/DateTimeFormat/format
      -
        let lastUpdatedStr = new Intl.DateTimeFormat('en-us', {
          hour: '2-digit',
          minute: '2-digit',
          second: '2-digit',
          hour12: true,

          day: 'numeric',
          month: 'short',
          year: 'numeric',

          timeZone: 'America/Los_Angeles'
        }).format(new Date());
      = "Last updated: " + lastUpdatedStr
