extends layout.pug
include search-mixins.pug

block seo
  //- Disable indexing but encourage sharing
  - let pageTitle = `Company info for ${query} - ingoodcompany.info`;
  - let pageDescription = 'Look up a company by its name and get information from Glassdoor, Crunchbase, LinkedIn, and more!';
  title= pageTitle
  meta(name="description" content=pageDescription)
  meta(name="robots" content="noindex")

  meta(name="twitter:card" content="summary")
  meta(name="twitter:site" content="@twolfsn")
  meta(name="twitter:title" content=pageTitle)
  meta(name="twitter:description" content=pageDescription)
  meta(name="twitter:creator" content="@twolfsn")

  // Logo by Made by Made from the Noun Project, https://thenounproject.com/made.somewhere/uploads/?i=707660
  meta(name="twitter:image" content="https://ingoodcompany.info/browser/images/logo-120.png")
  meta(name="twitter:image:alt" content="ingoodcompany.info logo")

  meta(property="og:title" content=pageTitle)
  meta(property="og:type" content="article")
  meta(property="og:url" content="https://ingoodcompany.info/")
  meta(property="og:image" content="https://ingoodcompany.info/browser/images/logo-600.png")
  meta(property="og:description" content=pageDescription)

block analytics
  script.
    mixpanel.track('Performed search', {
      query: '#{query}'
    });
    // DEV: `mixpanel.track_links` was loading `/undefined` for our blank links so we're sidestepping it
    window.addEventListener('DOMContentLoaded', function handleDOMContentLoaded (evt) {
      [].forEach.call(document.querySelectorAll('.search-results a[target=_blank]'), function (linkEl) {
        linkEl.addEventListener('click', function handleClick (evt) {
          mixpanel.track('Clicked search results link', {
            query: '#{query}'
          });
        });
      });
    });

block content
  +pageHeading()
  +searchForm(query)
  .row
    .col-lg-6
      h4= `Search results for: ${query}`
  +searchResults({ query, glassdoorInfo })
